html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden;
  display: block;
}

canvas {
  border: 1px solid black;
  position: absolute;
}

.estrella {
  width: 50px;
  height: 50px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#star1 {
  margin-left: -38%;
  margin-bottom: 28%;
}

#star2 {
  margin-left: 17%;
  margin-bottom: 28%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  background-color: rgba(223, 198, 135, 0.3);
  padding: 30px;
  padding-bottom: 20px;
  border: 2px solid #db3069;
  width: 30%;
  margin-top: -25%;
  margin-left: 5%;
  position: fixed;
  z-index: 10;
}

label {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  color: #5e5e5e;
  margin-left: 15%;
  margin-bottom: 50px;
  float: left;
}

.instrucciones {
  margin-right: 20%;
}

.efectosSonido {
  padding-right: 30%;
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 40%;
  width: 50px;
  height: 24px;
  float: left;
}

#switch-efectos {
  margin-left: 67%;
  margin-top: -14%;
  float: left;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #db3069;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.div-buttons {
  margin-top: -8%;
  margin-left: 10%;
}

#saveBtn,
#cancelBtn {
  background-color: #db3069;
  color: white;
  border: none;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 16px;
  padding: 10px 25px;
  margin-left: 30px;
}

#returnBtn {
  background-color: #db3069;
  color: white;
  border: none;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 16px;
  padding: 10px 25px;
  margin-left: 125px;
}

#saveBtn:hover,
#cancelBtn:hover,
#returnBtn:hover #fbutton:hover {
  opacity: 1;
}

/* COLUMNAS */

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.column-header {
  float: left;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  margin-left: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fcf5be;
  background-image: url("Images/Fondo.png");
  margin: auto;
  padding: 40px;
  width: 50%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  width: 85%;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 20px;
}

.modal-body {
  width: 75%;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #fffae6;
  box-shadow: 10px 10px 5px #b5b5b5;
}

#gameover {
  padding: 10px;
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
}

#gameover:hover {
  color: #f95151;
}

#modal-form {
  border: solid 3px #ee6969;
  width: 60%;
  height: 20%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#fuser {
  margin-left: 15px;
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
}

#fbutton,
#jugarBtn,
#regresarBtn,
#facebookBtn {
  margin-top: 30px;
  background-color: #db3069;
  color: white;
  border: none;
  border-radius: 20px;
  opacity: 0.8;
  font-size: 14px;
  padding: 5px 20px;
}

.modal-footer {
  width: 80%;
  margin-left: 5%;
  margin-bottpom: -20px;
}

#regresarBtn {
  font-size: 13px;
  margin-left: 30px;
  border: solid 2px white;
}

#jugarBtn {
  font-size: 13px;
  margin-left: 10px;
  border: solid 2px white;
}

#facebookBtn {
  font-size: 13px;
  margin-left: 5%;
  padding: 10px 25px;
  border: solid 2px white;
}

/*--- Animacion ---*/
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*--- x boton ---*/
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}
